.home-card-link-item {
  width: 90%;
  margin: 0px 20px 40px 20px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  max-height: 450px;
}

@media screen and (min-width: 576px) {
  .home-card-link-item {
    width: 42%;
    max-width: 380px;
    margin: 0px 12px 40px 12px;
  }
}

.light-mode-hover-effect:hover {
  border: 2px solid lightgray;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  box-shadow: 0px 8px 50px rgba(7, 7, 7, 0.3);
}

.dark-mode-hover-effect:hover {
  border: 2px solid lightslategray;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  box-shadow: 0px 8px 50px rgba(252, 249, 249, 0.17);
}

.video-link-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  outline: none;
}
