.game-page-link-item {
  width: 40%;
  max-width: 250px;
  text-decoration: none;
  margin: 15px 20px 15px 20px;
  cursor: pointer;
  outline: none;
}

.game-route-light-hover:hover {
  padding: 8px;
  border: 2px solid #c9c9c9;
  border-radius: 10px;
  box-shadow: 0px 8px 50px rgba(7, 7, 7, 0.3) !important;
}

.game-route-dark-hover:hover {
  padding: 8px;
  border: 2px solid #383838;
  border-radius: 10px;
  box-shadow: 0px 8px 50px rgba(252, 249, 249, 0.17) !important;
}
