.sidebar-menu-link-item {
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 0px;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  padding: 12px 12px 12px 12px;
}

.external-website-link {
  padding: 0px 0px 0px 0px;
  margin: 0px 20px 0px 0px;
  cursor: pointer;
  outline: none;
}

.light-hover-class:hover {
  background-color: #ebebeb;
}

.dark-hover-class:hover {
  background-color: #424242;
}
